<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>Element  War Application</display-name>
    <!--欢迎界面处理器-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Spring Listener处理器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--Bean配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/applicationContext.xml</param-value>
    </context-param>

    <!--业务过滤器 文件配置-->
    <filter>
        <filter-name>businessServletFilter</filter-name>
        <filter-class>com.artisankid.elementwar.controller.filter.BusinessServletFilter</filter-class>
    </filter>

    <!--业务过滤器 映射MAPPING-->
    <filter-mapping>
        <filter-name>businessServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--字符串处理过滤器-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!--字符串处理过滤器映射-->
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>*.json</url-pattern>
    </filter-mapping>

    <!--&lt;!&ndash;MVC 调度器 转化逻辑处理&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>SPRING-MVC</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath*:/applicationContext.xml</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--&lt;!&ndash;MVC 调度器 过滤URL地址 处理&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>SPRING-MVC</servlet-name>-->
        <!--<url-pattern>*.json</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
